@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:wght@100;300;400;600;800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

html {
    /* me permite deslizar cuando hago clic en los links del menu */
    scroll-behavior: smooth;
}

/* MENU */
.contenedor-header {
    background: #000000;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.contenedor-header header {
    max-width: 970px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header .logo p {
    font-family: 'Righteous';
    font-size: 36px;
    color: #edfe33;
    text-decoration: none;
}

.contenedor-header header .logo1 p {
    font-family: 'Righteous';
    font-size: 36px;
    color: #0b72f9;
    text-decoration: none;
}

.contenedor-header header .logo2 p {
    font-family: 'Righteous';
    font-size: 36px;
    color: #ca2115;
    text-decoration: none;
}

.contenedor-header header ul {
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a {
    text-align: none;
    color: rgb(255, 255, 255);
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.contenedor-header header nav ul li a:hover {
    background-color: #ffffff;
    color: #000000;
}

.contenedor-header button {
    background-color: #184163;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

/* Estilo para el boton */
.contenedor-header button:hover {
    background-color: #ffffff;
    color: #000000;
}

.nav-responsive {
    background-color: #156569;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

/* SECCION I N I C I O */
.contenido-banner .redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.main {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

h1 {
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
}

p {

    font-size: 20px;
    text-align: justify;
}

p1 {

    font-size: 20px;
}



span {
    color: #000000;
}


.contenedor-img {

    width: 647px;
    height: 436px;

}

.informacion {
    background-color: #09334b;
    color: #fff;
    padding: 50px 20px;
}

.informacion .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.informacion h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;

}

.informacion .contenido-seccion p {
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.informacion .contenido-seccion p span {
    color: #0fe6d7;
    font-weight: bold;
}

.informacion .fila {
    display: flex;
    text-align: center;
}

.informacion .fila .col {
    width: 100%;
}

.informacion .fila .col h3 {
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.informacion .fila .col ul {
    list-style: none;
}

.informacion .fila .col ul li {
    margin: 12px 0;
}

.informacion .fila .col ul li strong {
    display: inline-block;
    color: #0fe6d7;
    width: 130px;
}

.informacion .fila .col ul li span {
    background-color: #0fe6d7;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.informacion .fila .col .contenedor-tecnologias {
    display: flex;
    justify-content: center;

}

.informacion .fila .col .contenedor-tecnologias .tecnologias {
    width: 130px;
    height: 100px;
    background-color: #252A2E;
    border-radius: 10px;
    margin: 0 20px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.informacion .fila .col .contenedor-tecnologias .tecnologias:hover {
    background-color: #ffffff;
    color: #000000;
}

.informacion .fila .col .contenedor-tecnologias .tecnologias i {
    font-size: 30px;
    margin-bottom: 10px;
}

.informacion button {
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #ffffff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #ffffff;
    position: relative;
    z-index: 10;
}

.informacion button .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #076b89;
    z-index: -1;
    transition: 1s;
}

.informacion button:hover .overlay {
    width: 100%;
}

/* SECCION MOSTRAR MAPA*/
.desplegar_mapa {
    background-color: #09334b;
    color: #000000;

}

.desplegar_mapa1 {
    background-color: #09334b;
    color: #ffffff;

}

.desplegar_mapa .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}



/* SECCION MAPAS */
.mapas_disponibles {
    background-color: #184163;
    color: #fff;
    padding: 50px 20px;
}

.mapas_disponibles .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.mapas_disponibles h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.mapas_disponibles .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mapas_disponibles .galeria .proyecto {
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}

.mapas_disponibles .galeria .proyecto img {
    width: 100%;
    display: block;
}

.mapas_disponibles .galeria .proyecto .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(18, 24, 24, 0.8), rgba(63, 110, 124, 0.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}

.mapas_disponibles .galeria .proyecto .overlay h3 {
    margin-bottom: 20px;
    transition: 1s;
}

.mapas_disponibles .galeria .proyecto .overlay:hover {
    opacity: 1;
}

.mapas_disponibles .galeria .proyecto .overlay:hover h3 {
    margin-bottom: 0px;
}

.info-content .mapas_disponibles {
    padding: 10px 20px;
    background-color: #010101;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;

}

.info-content .mapas_disponibles:hover {
    background-color: #ffffff;
    color: #000000;
}

/* SECCION DESCARGAR */
.descargar {
    background-color: #0e3c57;
    color: #fff;
    padding: 50px 20px;
}

.descargar .contenido-seccion {
    max-width: 1100px;
    margin: auto;
}

.descargar h2 {
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.descargar .galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.descargar .galeria .proyecto {
    position: relative;
    max-width: 340px;
    height: fit-content;
    margin: 10px;
    cursor: pointer;
}

.descargar .galeria .proyecto img {
    width: 100%;
    display: block;
}

.descargar .galeria .proyecto .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background: linear-gradient(rgba(18, 24, 24, 0.8), rgba(63, 110, 124, 0.8));
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    font-size: 18px;
    letter-spacing: 3px;
    opacity: 0;
}

.descargar .galeria .proyecto .overlay h3 {
    margin-bottom: 20px;
    transition: 1s;
}

.descargar .galeria .proyecto .overlay:hover {
    opacity: 1;
}

.descargar .galeria .proyecto .overlay:hover h3 {
    margin-bottom: 0px;
}

.info-content .descargar {
    padding: 10px 20px;
    background-color: #010101;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;

}

.info-content .descargar:hover {
    background-color: #ffffff;
    color: #000000;
}

.contenido-banner .redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

.inicio .contenido-banner .redes a:hover {
    background-color: #076b89;
}

footer {
    background-color: #000000;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .redes {
    margin-bottom: 20px;
}

footer .redes a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}


footer .arriba {
    display: block;
    width: 50px;
    height: 50px;
    background-color: #E67E22;
    color: #fff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -25px;
    border-radius: 50%;
    line-height: 50px;
    font-size: 45px;
}

.redes-sociales {

    padding: 20px 0;
}

.redes-sociales .contenedor {
    display: flex;
    justify-content: center;
}

.redes-sociales .contenedor a {
    color: #fff;
    text-align: center;
    width: 100px;
    font-size: 30px;
    padding: 15px 0;
    display: block;
    margin: 0 20px;
    border-radius: 3px;
}


.redes-sociales .contenedor .github:hover {
    background: #666666;
}

/* Estilo de la tabla */
#miTabla {
    margin-top: 20px;
    border-collapse: collapse;
    width: 60%;
    margin: auto;
    background-color: #205988; /* Color de fondo de la tabla */
    color: rgb(255, 255, 255); /* Color del texto en la tabla */
}

/* Estilo para las celdas de encabezado */
#miTabla th {
    background-color: #f2f2f2; /* Color de fondo para las celdas de encabezado */
    color: #333; /* Color del texto en las celdas de encabezado */
}

/* Estilo para las filas de datos */
#miTabla tr {
    border: 1px solid #ffffff; /* Color de las líneas que dividen las filas */
}

/* Efecto hover para las filas */
#miTabla tr:hover {
    background-color: #133d6d; /* Cambia el color de fondo al pasar el ratón por encima */
    color: #ffffff;
    border: #ffffff;
}

/* Estilo para todas las celdas (incluidas las de encabezado) */
#miTabla td {
    padding: 8px;
}

/* Estilo para las imágenes en las celdas */
#miTabla img {
    max-width: 100%;
    height: auto;
    display: inline-block; /* Hace que las imágenes se muestren en línea horizontalmente */
    margin: 0 10px 0 0; /* Ajusta el margen derecho para agregar espacio después de cada imagen */
    vertical-align: middle; /* Centra verticalmente las imágenes dentro de las celdas */
}

/* Estilos para los botones */
button {
    padding: 7px 7px; /* Ajusta el espacio interno del botón */
    margin: 5px; /* Añade un margen entre los botones */
    font-size: 12px; /* Tamaño de la fuente del botón */
    border: none; /* Elimina el borde del botón */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    border-radius: 10px; /* Hace que las esquinas del botón sean redondas */
}


/* Estilo específico para el botón de cargar archivo */
#cargarArchivoBtn:hover {
    background-color: #1a64aa; /* Color de fondo */
    color: white; /* Color del texto */
}



/* Estilo específico para el botón de descargar JSON */
#descargarJson:hover {
    background-color: #1a64aa; /* Color de fondo  */
    color: white; /* Color del texto  */
}



/* Estilo específico para el botón de calcular ruta */
#calcularRutaBtn:hover {
    background-color: #1a64aa; /* Color de fondo  */
    color: white; /* Color del texto  */
}



/* Estilo específico para el botón de limpiar ruta */
#limpiarRutaBtn:hover {
    background-color: #1a64aa; /* Color de fondo  */
    color: white; /* Color del texto */
}



/* Estilo específico para el botón de agregar figura */
#agregarFiguraBtn:hover {
    background-color: #1a64aa; /* Color de fondo  */
    color: white; /* Color del texto  */
}


/* Estilo específico para el botón de agregar zona de calor */
#agregarZonaCaliente:hover {
    background-color: #1a64aa; /* Color de fondo  */
    color: white; /* Color del texto  */
}

/* Estilo específico para el botón de ver informacion */
#botonVerInformacion:hover {
    background-color: #1a64aa; /* Color de fondo */
    color: white; /* Color del texto  */
}

/* Estilo específico para el botón de limpiar mapa */
#boton-limpiar-mapa:hover {
    background-color: #1a64aa; /* Color de fondo  */
    color: white; /* Color del texto */
}

/* Estilo para el select con esquinas redondeadas */
#mapStyle {
    font-size: 14px; /* Ajusta el valor según sea necesario para el tamaño de la letra */
    border-radius: 5px; /* Ajusta el valor según sea necesario para redondear las esquinas */
    padding: 5px; /* Ajusta el relleno según sea necesario para dar espacio alrededor del texto */
}

/* Mapa Estilo */
#mapa_general {
    margin: auto;
    height: 73vh; /* 60% del alto de la ventana */
    width: 100%; /* 90% del ancho del contenedor padre */
    max-width: 1100px; /* Máximo ancho permitido */
    position: relative;
    z-index: 0;
}

/* Estilo del contenedor del mapa */
.contenedor-mapa {
    width: 100%;
    max-width: 1100px; /* Puedes ajustar esto según sea necesario */
    margin: auto;
}


/* Mapa Revisados */
#mi_mapa {
    margin: auto;
    height: 400px;
    width: 600px;
}


/* SECCION RESPONSIVE */
@media screen and (max-width:980px) {
    nav {
        display: none;
    }

    .nav-responsive {
        display: block;
    }

    nav.responsive {
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 180px;
    }

    nav.responsive ul {
        display: block !important;
    }

    nav.responsive ul li {
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}

@media screen and (max-width:700px) {
    .informacion .fila {
        display: block;
    }

    .informacion .fila .col {
        width: fit-content;
    }
    
    .desplegar_mapa {
        display: block;
        width: 100%;
    }

    .mapas_disponibles .galeria {
        display: block;
        width: 100%;
    }

    .mapas_disponibles .galeria .proyecto {
        max-width: 100%;
    }

    .mapas_disponibles .galeria .proyecto img {
        width: 100%;
    }

    .descargar .fila {
        display: block;
    }

    .descargar .fila .col {
        width: 100%;
    }
}

